@theme {
  --color-black-mode1: #050B06;
  --color-black-option1: #050B06;
  --color-black-dark: #050B06;
  --color-black-white: #050B06;
  --color-white-mode1: #F6F6F6;
  --color-white-option1: #F6F6F6;
  --color-white-dark: #F6F6F6;
  --color-white-white: #F6F6F6;
  --color-primary100-mode1: #949A83;
  --color-primary100-option1: #949A83;
  --color-primary100-dark: #949A83;
  --color-primary100-white: #949A83;
  --color-primary200-mode1: #99A578;
  --color-primary200-option1: #99A578;
  --color-primary200-dark: #99A578;
  --color-primary200-white: #99A578;
  --color-primary300-mode1: #A3BB62;
  --color-primary300-option1: #A3BB62;
  --color-primary300-dark: #A3BB62;
  --color-primary300-white: #A3BB62;
  --color-primary400-mode1: #BADE5B;
  --color-primary400-option1: #B0D944;
  --color-primary400-dark: #B0D944;
  --color-primary400-white: #B0D944;
  --color-primary500-mode1: #B2DD40;
  --color-primary500-option1: #B2DD40;
  --color-primary500-dark: #B2DD40;
  --color-primary500-white: #B2DD40;
  --color-secondary100-mode1: #A5BFC0;
  --color-secondary100-option1: #A5BFC0;
  --color-secondary100-dark: #A5BFC0;
  --color-secondary100-white: #A5BFC0;
  --color-secondary200-mode1: #779FA1;
  --color-secondary200-option1: #779FA1;
  --color-secondary200-dark: #779FA1;
  --color-secondary200-white: #779FA1;
  --color-secondary300-mode1: #5F8587;
  --color-secondary300-option1: #5F8587;
  --color-secondary300-dark: #5F8587;
  --color-secondary300-white: #5F8587;
  --color-secondary400-mode1: #2A3B3C;
  --color-secondary400-option1: #2A3B3C;
  --color-secondary400-dark: #2A3B3C;
  --color-secondary400-white: #2A3B3C;
  --color-secondary500-mode1: #202C2D;
  --color-secondary500-option1: #202C2D;
  --color-secondary500-dark: #202C2D;
  --color-secondary500-white: #202C2D;
  --color-cyan100-mode1: #98A7AB;
  --color-cyan100-option1: #98A7AB;
  --color-cyan100-dark: #98A7AB;
  --color-cyan100-white: #98A7AB;
  --color-cyan200-mode1: #8FADB4;
  --color-cyan200-option1: #8FADB4;
  --color-cyan200-dark: #8FADB4;
  --color-cyan200-white: #8FADB4;
  --color-cyan300-mode1: #85B3BE;
  --color-cyan300-option1: #85B3BE;
  --color-cyan300-dark: #85B3BE;
  --color-cyan300-white: #85B3BE;
  --color-cyan400-mode1: #73BED0;
  --color-cyan400-option1: #73BED0;
  --color-cyan400-dark: #73BED0;
  --color-cyan400-white: #73BED0;
  --color-cyan500-mode1: #60CAE3;
  --color-cyan500-option1: #60CAE3;
  --color-cyan500-dark: #60CAE3;
  --color-cyan500-white: #60CAE3;
  --color-grey100-mode1: #BABABA;
  --color-grey100-option1: #BABABA;
  --color-grey100-dark: #BABABA;
  --color-grey100-white: #BABABA;
  --color-grey200-mode1: #999999;
  --color-grey200-option1: #999999;
  --color-grey200-dark: #999999;
  --color-grey200-white: #999999;
  --color-grey300-mode1: #666666;
  --color-grey300-option1: #666666;
  --color-grey300-dark: #666666;
  --color-grey300-white: #666666;
  --color-grey350-mode1: #393939;
  --color-grey400-mode1: #303030;
  --color-grey400-option1: #303030;
  --color-grey400-dark: #303030;
  --color-grey400-white: #303030;
  --color-grey500-mode1: #232323;
  --color-grey500-option1: #232323;
  --color-grey500-dark: #232323;
  --color-grey500-white: #232323;
  --color-blue100-mode1: #C3D4EB;
  --color-blue100-option1: #C3D4EB;
  --color-blue100-dark: #C3D4EB;
  --color-blue100-white: #C3D4EB;
  --color-blue200-mode1: #BCD3F2;
  --color-blue200-option1: #BCD3F2;
  --color-blue200-dark: #BCD3F2;
  --color-blue200-white: #BCD3F2;
  --color-blue300-mode1: #8CB8F2;
  --color-blue300-option1: #8CB8F2;
  --color-blue300-dark: #8CB8F2;
  --color-blue300-white: #8CB8F2;
  --color-blue400-mode1: #478DEB;
  --color-blue400-option1: #478DEB;
  --color-blue400-dark: #478DEB;
  --color-blue400-white: #478DEB;
  --color-blue500-mode1: #1970E6;
  --color-blue500-option1: #1970E6;
  --color-blue500-dark: #1970E6;
  --color-blue500-white: #1970E6;
  --color-categoryall-mode1: #779FA1;
  --color-categoryall-option1: #2A8962;
  --color-categoryall-dark: #7AAF7B;
  --color-categoryall-white: #7AAF7B;
  --color-categorylogin-mode1: #D567FA;
  --color-categorylogin-option1: #A0996B;
  --color-categorylogin-dark: #E6AA68;
  --color-categorylogin-white: #6E9700;
  --color-categoryidentity-mode1: #D65C5E;
  --color-categoryidentity-option1: #E5ED97;
  --color-categoryidentity-dark: #E9BCB7;
  --color-categoryidentity-white: #C2E2AA;
  --color-categorycreditcard-mode1: #8A63FF;
  --color-categorycreditcard-option1: #CECECE;
  --color-categorycreditcard-dark: #BEBEBE;
  --color-categorycreditcard-white: #E6E8AC;
  --color-categorynote-mode1: #F2BA40;
  --color-categorynote-option1: #8FBC7F;
  --color-categorynote-dark: #6E9700;
  --color-categorynote-white: #2A8962;
  --color-categorycustom-mode1: #496FF9;
  --color-categorycustom-option1: #496FF9;
  --color-categorycustom-dark: #C3A2D2;
  --color-categorycustom-white: #ACB1E8;
  --color-categorypassword-mode1: #ED8E1A;
  --color-categorypassword-option1: #ED8E1A;
  --color-categorypassword-dark: #9ACEBF;
  --color-categorypassword-white: #F6DC85;
  --color-errorred-mode1: #D13B3D;
  --color-errorred-option1: #D13B3D;
  --color-errorred-dark: #D65C5E;
  --color-errorred-white: #D65C5E;
  --color-errorgreen-mode1: #76D944;
  --color-errorgreen-option1: #76D944;
  --color-errorgreen-dark: #76D944;
  --color-errorgreen-white: #76D944;
  --color-erroryellow-mode1: #FFAE00;
  --color-erroryellow-option1: #F2BA40;
  --color-erroryellow-dark: #F2BA40;
  --color-erroryellow-white: #F2BA40;
}
